{#
    custom_minimal/author.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~
#}

{%- set recent_count = recent_count is not defined and 10 or recent_count %}

<div class="widget">
    <h3>こんなの書きました</h3>
    <div>
<iframe src="http://rcm-jp.amazon.co.jp/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=shomah4a-22&o=9&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=477415539X" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </div>
</div>

