{#
    tinkerbase/aggregated.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~

    Front page and following pages aggregating multiple posts per page.

    :copyright: Copyright 2011-2012 by Vlad Riscutia and contributors (see
    CONTRIBUTORS file)
    :license: FreeBSD, see LICENSE file
#}

{% extends "page.html" %}

{%- set archive_title = archive_title is not defined and text_blog_archive or archive_title %}

{% block body %}
    {{ tinkerer_relbar() }}
    {%- for metadata in posts %}
        {% set page_url = pathto(metadata.link) %}

        <div class="section_head" style="margin-bottom: 1em">
          <div class="buttons" style="float:right">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ page_url }}" data-text="{{ metadata.title }} - {{ project }}">Tweet</a>
            <a path="{{ page_url }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ metadata.title }} - {{ project }}" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
            <span class="hatenastar"> <span>
            <a style="display:none" class="parmalink_for_star" path="{{ page_url }}">a</a>
          </div>
        {{ timestamp(metadata.formatted_date) }}
        </div>

        {{ metadata.body }}
        {{ post_meta(metadata, metadata.comment_count) }}
        {%- if not loop.last %}<div class="separator post_separator"></div>{%- endif %}
    {%- endfor %}
    {{ tinkerer_relbar() }}
    <div class="archive_link">
        <a href="{{ pathto('archive') }}">{{ archivechar }}{{ archive_title }}{{ archivechar }}</a>
    </div>
    <script type="text/javascript"><!--
      $('a[class="twitter-share-button"]').toArray().map(
          function (e)
          {
              e.setAttribute('data-url', window.location.origin + '/' + e.getAttribute('data-url'));
          });

    --></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript"><!--
      $('a[class="hatena-bookmark-button"]').toArray().map(
          function (e)
          {
              e.setAttribute('href', 'http://b.hatena.ne.jp/entry/' + window.location.host + '/' + e.getAttribute('path'));
          });
    --></script>
    <script type="text/javascript"><!--
      $('a[class="parmalink_for_star"]').toArray().map(
          function (e)
          {
              e.setAttribute('href', window.location.origin + '/' + e.getAttribute('path'));
          });
    --></script>
    <script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

{% endblock %}

