{#
    tinkerbase/aggregated.html
    ~~~~~~~~~~~~~~~~~~~~~~~~~~

    Front page and following pages aggregating multiple posts per page.

    :copyright: Copyright 2011-2012 by Vlad Riscutia and contributors (see
    CONTRIBUTORS file)
    :license: FreeBSD, see LICENSE file
#}

{% extends "page.html" %}

{%- set archive_title = archive_title is not defined and text_blog_archive or archive_title %}

{% block body %}
    {{ tinkerer_relbar() }}
    {%- for metadata in posts %}
        {{ timestamp(metadata.formatted_date) }}

        {% set page_url = pathto(metadata.link) %}

        <div class="buttons" style="float:right">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ page_url }}" data-text="{{ page_url }}" data-via="shomah4a">Tweet</a>
        </div>
        {{ metadata.body }}
        {{ post_meta(metadata, metadata.comment_count) }}
        {%- if not loop.last %}<div class="separator post_separator"></div>{%- endif %}
    {%- endfor %}
    {{ tinkerer_relbar() }}
    <div class="archive_link">
        <a href="{{ pathto('archive') }}">{{ archivechar }}{{ archive_title }}{{ archivechar }}</a>
    </div>
    <script><!--
      var items = document.getElementsByClassName('twitter-share-button');

      for (var idx=0; idx<items.length; idx++)
      {
        var item = items[idx];
        item.setAttribute('data-url', document.baseURI + item.getAttribute('data-url'));
        item.setAttribute('data-text', document.baseURI + item.getAttribute('data-text'));
      }

    --></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}

