@import url("minimal5.css");


div.section_head
{
    margin-bottom: 1em;
}

div.timestamp_layout
{
    float: left;
    margin-right: 2em;
}

div.line-block
{
    margin-left: 2em;
    background-color: #efefef;
    padding: 1em;
}
